@charset "UTF-8";   /*     http://127.0.0.1:5500/encomendas.html    */


@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root
{
    --azul_claro: #00F0FF;
    --azul_escuro: #0094FF;
    --fonte_padrao: Arial, Helvetica, sans-serif; 
    --fonte_exo: 'Exo', sans-serif;
    --fonte_exo2: 'Exo 2', sans-serif;;
    --fonte3: 'Courier Prime', monospace;
}


*   /* configurações globais */
{
    font-family: var(--fonte_exo);
    color: black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header
{
    min-width: 320px;
    max-width: 740px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../imagens/papel.png);
    padding: 10px 0px 10px 0px;
    margin: 50px auto 20px auto;
}

nav
{
    min-width: 320px;
    max-width: 740px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--azul_escuro), var(--azul_claro));
    box-shadow: 0px 0px 50px rgba(54, 54, 54, 0.274);
    border-radius: 30px 30px 0px 0px;
}

nav:hover
{
    background: var(--azul_escuro);
    transition-duration: 0.5s;
}

nav div
{
    width: 190px;
    text-align: center;
}

nav a
{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover
{
    font-size: 28px;
    transition-duration: 0.5s;
}

nav a:active
{
    color: var(--azul_claro);
    transition-duration: 0s;
}

.homepage
{
    width: auto;
}

body
{
    background-image: linear-gradient(to top, rgb(219, 219, 219), rgb(149, 149, 149));
    background-attachment: fixed;
    font-family: var(--fonte_padrao);
}

main
{
    background-color: rgb(255, 255, 255);
    min-width: 320px;
    max-width: 740px;
    padding: 40px 0px 40px 0px;
    margin: 0px auto 70px auto;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 0px 50px rgba(54, 54, 54, 0.274);
}

h1
{
    text-align: center;
    font-size: 80px;
    font-family: var(--fonte_exo2);
    font-weight: 900;
}

h2
{
    text-align: center;
    font-size: 60px;
    font-family: var(--fonte_exo2);
    font-weight: 900;
    line-height: 60px;
    margin: 0px 65px 20px 65px;
}

.subtext
{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.subtítulo
{
    font-size: 30px;
    font-family: var(--fonte_exo2);
    font-weight: 700;
    margin: 0px 10px 0px 0px;
}

main p
{
    font-size: 21px;
    margin: 0px;
    padding: 0px 65px 0px 65px;
}

.nopadding
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-bottom: 10px;
}

.itensgrey
{
    justify-content: center;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    padding: 6px 10px 1.5px 10px;
    font-family: var(--fonte3);
}

.itensgreen
{
    justify-content: center;
    background-color: #1FDBA3;
    border-radius: 5px;
    padding: 6px 10px 1.5px 10px;
    font-family: var(--fonte3);
    color: white;
}

.greenmark
{
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1FDBA3;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
}

.redtext
{
    color: red;
    font-size: 21px;
}

.yellowmark
{
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ffd500;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
}

.symbol
{
    display: flex;
    height: 20px;
}

.negrito
{
    font-weight: bold;
}

.itálico
{
    font-style: italic;
}

hr
{
    border-color: white;
    margin: 50px 0px 50px 0px;
}

ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

a
{
    color: var(--azul_escuro);
    text-decoration: none;
}

a:active
{
    color: var(--azul_claro);
}

.list
{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 65px 0px 65px;
    margin: 30px 0px 30px 0px;
}

.desenhos
{
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 0px 65px 0px 65px;
}

.socialmedia
{
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 5px;
}

.icons
{
    height: 50px;
    width: 50px;
}

.icons:hover
{
    height: 45px;
    width: 45px;
    transition-duration: 0.5s;
}

footer
{
    margin: 70px auto 70px auto;
    text-align: center;
}

footer p
{
    font-size: 21px;
}