@charset "UTF-8";

.youtube
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #AB0000, #FF4D00);
}
.youtube:hover
{
    transition: 0.5s;
    transform: scale(0.9);
    background: linear-gradient( #AB0000, #AB0000);
}
.youtube:active
{
    background: linear-gradient(#00F0FF, #00F0FF);
}

.instagram
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #9E00FF, #FFB800);
}
.instagram:hover
{
    transition: 0.5s;
    transform: scale(0.9);
    background: linear-gradient(#9E00FF, #9E00FF);
}
.instagram:active
{
    background: linear-gradient(#00F0FF, #00F0FF);
}

.reddit
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #FF4D00, #FFC700);
}
.reddit:hover
{
    transition: 0.5s;
    transform: scale(0.9);
    background: linear-gradient(#FF4D00, #FF4D00);
}
.reddit:active
{
    background: linear-gradient(#00F0FF, #00F0FF);
}

.spotify
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #00B012, #8FFF00);
}
.spotify:hover
{
    transition: 0.5s;
    transform: scale(0.9);
    background: linear-gradient(#00B012, #00B012);
}
.spotify:active
{
    background: linear-gradient(#00F0FF, #00F0FF);
}

.twitter
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #0094FF, #00F0FF);
}
.twitter:hover
{
    transition: 0.5s;
    transform: scale(0.9);
    background: linear-gradient(#0094FF, #0094FF);
}
.twitter:active
{
    background: linear-gradient(#00F0FF, #00F0FF);
}

.artstation
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #0042A6, #0094FF);
}
.artstation:hover
{
    transition: 0.5s;
    transform: scale(0.9);
    background: linear-gradient(#0042A6, #0042A6);
}
.artstation:active
{
    background: linear-gradient(#00F0FF, #00F0FF);
}

.twitch
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #6100DE, #CC00FF);
}
.twitch:hover
{
    transition: 0.5s;
    transform: scale(0.9);
    background: linear-gradient(#6100DE, #6100DE);
}
.twitch:active
{
    background: linear-gradient(#00F0FF, #00F0FF);
}

.tiktok
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #000000, #707070);
}
.tiktok:hover
{
    transition: 0.5s;
    transform: scale(0.9);
    background: linear-gradient(#000000, #000000);
}
.tiktok:active
{
    background: linear-gradient(#00F0FF, #00F0FF);
}